# Core dependencies
streamlit>=1.28.0
langchain>=0.1.16
langchain-community>=0.0.36
langchainhub>=0.1.14
langchain_aws
langchain_core
unstructured

# Additional dependencies for your app
boto3
python-dotenv